.woo-box-flex .head-info_info_2AspQ::after {
  content: '下载' attr(show-text);
  color: #ff8200;
  cursor: pointer;
}
.woo-box-flex.Frame_content_3XrxZ::before {
  content: attr(show-text);
  color: red;
  position: fixed;
  left: 0;
  width: 4em;
}
