body {
    --yellow: #ff8200;
    --red: #ff3852;
}

div.card-feed div.from,
.head-info_info_2AspQ:not(.Feed_retweetHeadInfo_Tl4Ld) {
    &::after {
        content: "下载"attr(show-text);
        color: var(--yellow);
        cursor: pointer;
        float: right;
    }
}

.Main_full_1dfQX.isFirst .head-info_info_2AspQ:not(.Feed_retweetHeadInfo_Tl4Ld),
.main-full.isFirst div.card-feed div.from {
    &::after {
        animation: wobble infinite 1s alternate;
    }
}

@keyframes wobble {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.m-main,
.Frame_content_3XrxZ {
    #wah0713 {
        font-size: 12px;
        font-weight: bold;

        &.out {
            opacity: 0;

            &:hover {
                opacity: 1;
            }
        }

        .container {
            position: fixed;
            left: 0;
            z-index: 1;
        }

        &:hover {

            .input-box,
            .editName {
                display: block;
            }
        }

        input {
            width: 3em;
            color: var(--yellow);
            border-width: 1px;
            outline: 0;
            background-color: transparent;
        }

        .input-box {
            display: none;
        }

        .showMessage {
            >p {
                line-height: 16px;
                margin: 4px;

                span {
                    color: #333;
                    vertical-align: top;

                    &.red {
                        color: var(--yellow);

                        &.downloadBtn {
                            cursor: pointer;
                        }
                    }
                }

                a {
                    color: transparent;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 300px;
                    display: inline-block;
                    white-space: nowrap;
                    -webkit-background-clip: text;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .editName {
            display: none;
            border: 1px solid #ccc;
            padding: 2px;
            border-radius: 6px;
            user-select: none;

            ul {
                list-style: none;
                display: flex;
                height: 20px;
                margin: 0;
                padding: 0 10px 0 0;
                background-color: #fafafa;
            }

            li {
                height: 20px;
                line-height: 20px;
                background: var(--red);
                color: #fff;
                padding-inline: 3px;
                margin-left: 2px;
                font-size: 12px;
                cursor: grab;
                border-radius: 5px;
            }
        }

        .unactive {
            li {
                background: var(--yellow);
            }
        }

        .outline {
            outline: 2px solid #119da6;
        }

    }
}