.woo-box-flex .head-info_info_2AspQ:not(.Feed_retweetHeadInfo_Tl4Ld)::after {
  content: '下载' attr(show-text);
  color: #ff8200;
  cursor: pointer;
}
.WB_detail > .WB_from.S_txt2::after {
  content: '下载' attr(show-text);
  color: #ff8200;
  cursor: pointer;
  float: right;
}
.woo-box-flex.Frame_content_3XrxZ #wah0713,
.WB_miniblog_fb #wah0713 {
  position: fixed;
  left: 0;
  color: #d52c2b;
  font-size: 12px;
  font-weight: bold;
}
.woo-box-flex.Frame_content_3XrxZ #wah0713 > p,
.WB_miniblog_fb #wah0713 > p {
  line-height: 16px;
  margin: 4px;
}
.woo-box-flex.Frame_content_3XrxZ #wah0713 > p span,
.WB_miniblog_fb #wah0713 > p span {
  color: #333;
}
