div.card-feed div.from,
.head-info_info_2AspQ:not(.Feed_retweetHeadInfo_Tl4Ld) {
    &::after {
        content: "下载"attr(show-text);
        color: #ff8200;
        cursor: pointer;
        float: right;
    }
}

.Main_full_1dfQX.isFirst .head-info_info_2AspQ:not(.Feed_retweetHeadInfo_Tl4Ld),
.main-full.isFirst div.card-feed div.from {
    &::after {
        animation: wobble infinite 1s alternate;
    }
}



@keyframes wobble {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.m-main,
.Frame_content_3XrxZ {
    #wah0713 {
        font-size: 12px;
        font-weight: bold;

        &.out {
            animation: fadeOutLeft 3s forwards;
        }

        .container {
            position: fixed;
            left: 0;
            z-index: 1;
        }

        &:hover {
            .input-box {
                display: block;
            }
        }

        input {
            width: 3em;
            color: #d52c2b;
            border-width: 1px;
            outline: 0;
            background-color: transparent;
        }

        .input-box {
            display: none;
        }

        .showMessage {
            >p {
                line-height: 16px;
                margin: 4px;

                span {
                    color: #333;

                    &.red {
                        color: #d52c2b;

                        &.downloadBtn {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}