body {
  --yellow: #ff8200;
}
div.card-feed div.from::after,
.head-info_info_2AspQ:not(.Feed_retweetHeadInfo_Tl4Ld)::after {
  content: "下载" attr(show-text);
  color: var(--yellow);
  cursor: pointer;
  float: right;
}
.Main_full_1dfQX.isFirst .head-info_info_2AspQ:not(.Feed_retweetHeadInfo_Tl4Ld)::after,
.main-full.isFirst div.card-feed div.from::after {
  animation: wobble infinite 1s alternate;
}
@keyframes wobble {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.m-main #wah0713,
.Frame_content_3XrxZ #wah0713 {
  font-size: 12px;
  font-weight: bold;
}
.m-main #wah0713.out,
.Frame_content_3XrxZ #wah0713.out {
  opacity: 0;
}
.m-main #wah0713.out:hover,
.Frame_content_3XrxZ #wah0713.out:hover {
  opacity: 1;
}
.m-main #wah0713 .container,
.Frame_content_3XrxZ #wah0713 .container {
  position: fixed;
  left: 0;
  z-index: 1;
}
.m-main #wah0713:hover .input-box,
.Frame_content_3XrxZ #wah0713:hover .input-box {
  display: block;
}
.m-main #wah0713 input,
.Frame_content_3XrxZ #wah0713 input {
  width: 3em;
  color: var(--yellow);
  border-width: 1px;
  outline: 0;
  background-color: transparent;
}
.m-main #wah0713 .input-box,
.Frame_content_3XrxZ #wah0713 .input-box {
  display: none;
}
.m-main #wah0713 .showMessage > p,
.Frame_content_3XrxZ #wah0713 .showMessage > p {
  line-height: 16px;
  margin: 4px;
}
.m-main #wah0713 .showMessage > p span,
.Frame_content_3XrxZ #wah0713 .showMessage > p span {
  color: #333;
}
.m-main #wah0713 .showMessage > p span.red,
.Frame_content_3XrxZ #wah0713 .showMessage > p span.red {
  color: var(--yellow);
}
.m-main #wah0713 .showMessage > p span.red.downloadBtn,
.Frame_content_3XrxZ #wah0713 .showMessage > p span.red.downloadBtn {
  cursor: pointer;
}
